<h2> List of Divisions </h2>

<table class="table" style="text-align:left;">
    <tr>
        <th> Division Name</th>
    </tr>
    <% @division.each do |d| %>
    <tr>
        <td><%= link_to "#{d.name}",divisions_show_path(d.id)%></td>

        <td><%= link_to "Edit",divisions_edit_path(d.id)%></td>

        <td> <%= link_to "Delete", divisions_delete_path(d.id),
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>

    <% end %> 
    </tr>
</table>
<button type="button" class="btn btn-primary"><%= link_to "Back", :back , class:"btn" %></button>