<h3>Department : <%= @division.name %></h3>
<%@division.employees.each do |e|%>
<p>Employee Name : <%= e.name%></p> </br>
<%end%>
<button type="button" class="btn btn-primary"><%= link_to "Back", :back , class:"btn" %></button>
