  
        <div class="hr-manager-dasboard-btn-1">
            <%=link_to "Divisions", divisions_index_path, class: "hr-manager-dasboard-btn"%>
            <%=link_to "Add New Division", new_division_path, class: "hr-manager-dasboard-btn" %>
        </div>
    </div>

        <div class="hr-manager-dasboard-btn-2">
            <%=link_to "Employees", employees_index_path(:id =>"0"), class: "hr-manager-dasboard-btn" %>
           <%=link_to "Add New Employee", new_employee_invitation_path, class: "hr-manager-dasboard-btn"%>
        </div>

 
