<div style= "text-align: center;
  border: 3px solid green; margin-top: 300px;">
  <h3 style="color:blue;">Employee Tracker App !</h3>
  <marquee width="60%" direction="right" height="100px"><p style="color:red;">Under Development </p></marquee>
</div> 